name: Build

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main

  push:
    branches:
      - main
      - next
      - maint/**

  merge_group:

  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Dry-Run'
        default: 'true'
        required: false

env:
  # are we on a release branch?
  DO_REALEASE: ${{ github.ref_name == github.event.repository.default_branch || github.ref_name == 'next' || startsWith(github.ref_name, 'maint/')}}
  DRY_RUN: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - uses: containerbase/internal-tools/setup@a34848e2bd8f12cb3f2d0e24274702d078bf23cc # v3.14.31
        with:
          save-cache: true

      - run: pnpm build

      - run: pnpm eslint -f gha

      - run: pnpm prettier

  test:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        node:
          - 22
        include:
          # too slow and too many tests to run them on all os
          - os: ubuntu
            node: 20
          - os: ubuntu
            node: 24

    runs-on: ${{ matrix.os }}-latest

    name: test-${{ matrix.os }}-${{ matrix.node }}

    permissions:
      id-token: write

    env:
      coverage: ${{ matrix.os == 'ubuntu' && matrix.node == 22 }}

    steps:
      - uses: containerbase/internal-tools/setup@a34848e2bd8f12cb3f2d0e24274702d078bf23cc # v3.14.31
        with:
          save-cache: true
          node-version: ${{ matrix.node }}

      - name: Test
        run: pnpm test --ci --coverage ${{ env.coverage }} --logHeapUsage
        shell: bash

      - name: Codecov test results
        if: github.event_name != 'merge_group' && !cancelled()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: test_results
          flags: node${{ matrix.node }}-${{ runner.os }}

      - name: Codecov coverage results
        if: github.event_name != 'merge_group' && env.coverage == 'true'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          flags: node${{ matrix.node }}-${{ runner.os }}

  # Catch-all required check for test matrix
  success:
    needs:
      - lint
      - test
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled lint tests
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1

      - name: Fail for failed or cancelled test tests
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'skipped'
        run: exit 1

  release:
    needs:
      - success

    if: github.repository == 'renovatebot/detect-tools' && github.event_name != 'pull_request'

    runs-on: ubuntu-24.04
    timeout-minutes: 10

    permissions:
      contents: write
      issues: write
      id-token: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # zero stands for full checkout, which is required for semantic-release
          filter: blob:none # we don't need all blobs, only the full tree
          show-progress: false

      - uses: containerbase/internal-tools/setup@a34848e2bd8f12cb3f2d0e24274702d078bf23cc # v3.14.31
        with:
          checkout: false

      - name: Check dry run
        run: |
          if [[ "${{github.event_name}}" == "workflow_dispatch" && "${{ github.event.inputs.dryRun }}" != "true"  ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          elif [[ "${{env.DO_REALEASE}}" == "true" ]]; then
            echo "DRY_RUN=false" >> "$GITHUB_ENV"
          fi

      - run: pnpm build

      - name: semantic-release
        run: |
          pnpm semantic-release --dry-run ${{env.DRY_RUN}}
        env:
          GITHUB_TOKEN: ${{ github.token }}
